
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white; 
    overflow: hidden;
}


.container {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    text-align: center;
}


h1 {
    color: #fff;
    margin-bottom: 20px;
}


.warning {
    color: #d9534f;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tips {
    text-align: left;
    margin-bottom: 20px;
}

.tips li {
    margin: 10px 0;
}


.instructions {
    font-size: 18px;
    font-weight: bold;
}


strong {
    color: #007bff;
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.fade-text {
    opacity: 0; 
    animation: fadeInOut 5s ease-in-out infinite;
    animation-delay: 1s;
}
